.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 35px;
  background-color: rgba(0, 0, 0, 0.5); /* Dull background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background-color: white;
  width: 600px;
  padding: 2rem;
  border-radius: 10px;
  
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.modal-header h2 {
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-form .form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #5b21b6;
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #5b21b6;
  color: #5b21b6;
}
